<html>

<link rel="stylesheet" href="/static/style.css" type="text/css">

<body>

    <h1>Welcome</h1>

    <div>{{name}}</div>

    <h2>Topics Available</h2>
    <div>
      {% for n in topic %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

    <form method="POST" action="/new_attempt">
      <p>Name of topic selected: <input type="text" name="name"> <input type="submit" value="Start Attempt"></p>
      </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            {{ message }}
         {% endfor %}
      {% endif %}
    {% endwith %}

</body>

</html>