<html>

<link rel="stylesheet" href="/static/style.css" type="text/css">


<body>
    <h1>Profile Page</h1>

    <h2>Username</h2>
    <div>
        <div>{{uid}}</div>
        
    </div>

    <h3>Attempt Summary</h3>

    {% for table in tables1 %}
        {{titles1[loop.index]}}
        {{ table|safe }}
    {% endfor %}

    <h3>Friends</h3>

    {% for table in tables2 %}
        {{titles2[loop.index]}}
        {{ table|safe }}
    {% endfor %}

    <h3>Performance of People Near You</h3>

    {% for table in tables3 %}
        {{titles3[loop.index]}}
        {{ table|safe }}
    {% endfor %}


    <p><a href="/">Return Home</a></p>



</body>
</html>