<html>

<link rel="stylesheet" href="/static/style.css" type="text/css">

<body>

    <h1>Quiz Page</h1>

    <h2>Claim</h2>
    <div>{{claim}} </div>

    <form method="POST" action="/quiz">
        <p>Type 1 for True, 0 for Misleading and -1 for False: <input type="text" name="verdict"> <input type="submit" value="Submit"></p>
        </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
              {{ message }}
           {% endfor %}
        {% endif %}
     {% endwith %}

</body>

</html>